.icon-container svg {
  fill: none;
  stroke: none;
  vertical-align: bottom;
}

.icon-container.fill svg {
  fill: currentColor;
  vertical-align: bottom;
}

.icon-container.stroke svg {
  stroke: currentColor;
  vertical-align: bottom;
}
